# -*- conf -*-

global

# double-pipe separated substitutions ('old||new')
+ sub data||Data
+ sub secvtxMass||svm
+ sub muEta||lepEta
+ sub elEta||lepEta
+ sub $||_el

# rebin
+ rebin svm:20,2



# filename
/uscms/home/skhalil/nobackup/SHyFT/Tag/subdir2/shyftPlots_stitched_pfShyftAna_charles.root

# case insensitive regex for histograms to keep
+ keep .

+ keep hiMom .

+ scale ^Top:6.349206349206

# file 2
/uscms/home/skhalil/nobackup/SHyFT/Tag/subdir2/data.root

+ keep pfShyftAnaDataQCD/Data_secvtxMass.+t$


+ sub pfShyftAnaDataQCD/Data||QCD
+ sub secvtxMass||svm

#+ add \1_2t:(.+)_1t^

+ renorm ^QCD_svm_1j_1t_el$:9.7
+ renorm ^QCD_svm_1j_2t_el$:0.0
+ renorm ^QCD_svm_2j_1t_el$:4.3
+ renorm ^QCD_svm_2j_2t_el$:0.0
+ renorm ^QCD_svm_3j_1t_el$:1.5
+ renorm ^QCD_svm_3j_2t_el$:0.0
+ renorm ^QCD_svm_4j_1t_el$:0.5
+ renorm ^QCD_svm_4j_2t_el$:0.0
+ renorm ^QCD_svm_5j_1t_el$:0.1
+ renorm ^QCD_svm_5j_2t_el$:0.0

# rebin
+ rebin svm:20,2

