# -*- config -*-

# templates to load
+ templateFile  = templatesCms/fitterinput_metQCD.root

# names of templates
+ names = Data, Top, Wjets, QCD

# names of the different groups
+ groupNames = _met_1j, _met_2j, _met_3j, _met_4j, _met_5j

# Display Names
+ groupStrings = 1_Jet, 2_Jets,  3_Jets, 4_Jets, 5_Jets



# integrated luminosity
# in fb-1
+ intLumi       = 0.01

# binning of templates
#+ binsPerGroup = 10, 10, 10, 5, 5
+ binsPerGroup = 10, 10, 10, 10, 10

# How to throw PEs
+ peNames  =   Top,  Wjets, QCD
+ peMeans  = 0.165,  28.0, 720.0
+ peSigmas = 0.040,   0.5,  90.0 

## # constraints
## + constraintNames  =    EW,   QCD
## + constraintValues =    0.1,   0.3

# Ranges
## + rangeNames =    Wc,   Wcc
## + lowerRange =  -200., -500.
## + upperRange =   200.,  500.
## + stepRange  =  0.01,   0.01 

# defaults
+ defaultNames     =   Top,   Wjets, QCD
+ defaultValues    =   0.165, 28.0, 720.0

# colors
+ colorNames  = Data, Top, Wjets, QCD
+ colorValues =    1,   2,  93, 7

# legend coordiates
+ legendCoordinates = 0.285, 0.55, 0.365, 0.88

# output file name
+ output = output/cmsJustTwoTemplates_0.01

# turn on data error bars
+ dataErrorBars = 1


